<div class="col-12 mt-5">
    <div class="card align-items-center">
        <div class="card-body">
            <nav aria-label="...">
                <ul class="pagination pg-color-border">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link"
                               href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Geri </a>
                        </li>
                    {% endif %}
                    <li class="page-item active">
                        <a class="page-link"
                           href="?page={{ page_obj.number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ page_obj.number }}</a>
                    </li>
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link"
                               href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">İleri</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>